@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* landing page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.center {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

#dropdown {
  line-height: 220%;
}

.submit {
  background-color: #255bef;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  margin: 4px 4px;
  margin-top: 20px;
  cursor: pointer;
}

.typed .subAnim {
  color: #4070f4;
}

/* Pop up modal box css codes from https://www.codinglabweb.com/2022/10/create-popup-modal-box.html */

section {
  position: fixed;
  height: 100%;
  width: 100%;
}

button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #265df2;
}

button.show-modal,
.modal-box {
  position: fixed;
  left: 50%;
  top: 120%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
section.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}
section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  height: 300px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 16px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
  margin-top: 25px;
}
.modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

/* for responsive web */

@media only screen and (max-width: 600px) {
  body {
    font-size: 30px;
    line-height: 1.5;
  }
  img {
    width: 200px;
  }
}

/* dashboard */

.dashTitle {
  text-align: justify;
  margin-top: 30px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
