hr {
  border: solid 2px;
}

h1 {
  background-color: yellow;
  width: 100px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

h2 {
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

h3 {
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

h4 {
  font-size: 15px;
  font-weight: lighter;
}

h5 {
  font-weight: lighter;
  font-size: 15px;
}

h6 {
  text-align: center;
  font-family: sans-serif;
  font-size: 10px;
  text-decoration: underline;
  margin-top: 3px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  border: 2px solid black;
}

p {
  font-size: 14px;
  /* text-align: left; */
  color: black;
}

/* Common features through the 3 pages */
.logo {
  width: 200px;
  height: 150px;
  border: 0cm;
  margin-left: 10px;
}

.pageBody {
  font-family: sans-serif;
  font-weight: lighter;
}

/* Features on Gallery page + Common features on Gallery/Product Detail page */
.itemInfo,
.mySelection {
  width: 175px;
  margin: auto;
}

.itemInfo:hover {
  background-color: yellow;
  font-weight: bold;
  border: 100px;
}

.itemInfo:visited {
  font-weight: bold;
  color: black;
}

.link2Cart,
.link2Gallery:link {
  text-decoration: none;
}

.link2Cart,
.link2Gallery:visited {
  color: black;
}

/* Feautres on Product Detail page*/
select {
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
  border: 3px solid;
  width: 180px;
  font-family: sans-serif;
}

span {
  background-color: yellow;
  font-size: 11px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid;
  padding-right: 20px;
  padding-left: 20px;
}

.add2Cart {
  width: 200px;
  font-weight: bold;
}

#productDetailPic {
  height: 400px;
  border: 2px solid black;
}

/* Features on Shopping Cart page*/
.cartImage {
  width: 80px;
  height: 80px;
  border: 2px solid black;
}

.cartInfo {
  text-align: center;
}

.cartInfoPrice {
  font-size: 20px;
  text-align: center;
}

.checkout {
  text-align: center;
  font-size: 15px;
  background-color: yellow;
  font-weight: bold;
  width: 100px;
  padding: 5px;
  border: 2px solid;
  margin-left: auto;
  margin-right: auto;
}
