.pageBody {
  align-self: left;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: lighter;
}

hr {
  border: solid 2px;
}

h1 {
  background-color: yellow;
  width: 100px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}

h2,
h3 {
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

#logo {
  width: 200px;
  height: 150px;
  border: 0cm;
  margin-left: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  border: 2px solid black;
}

p {
  font-size: 12px;
  display: inline-block;
  /* up*/
  text-align: left;
  color: black;
}

.itemInfo {
  width: 175px;
  margin: auto;
}

/* .itemDes {
  display: inline-block;
  text-align: left;
  color: black;
} */

.itemInfo:hover {
  background-color: yellow;
  font-weight: bold;
  border: 100px;
}

.itemInfo:visited {
  font-weight: bold;
  color: black;
}

.myImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
}

.item {
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: lighter;
}

.itemPrice {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: lighter;
}

.item:hover {
  background-color: yellow;
}

.add2cart:hover {
  background-color: yellow;
  font-size: 5px;
  font-family: sans-serif;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  color: black;
}

.myRemove {
  text-align: center;
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
